@model IEnumerable<CmsShoppingCart.Models.ViewModels.Pages.PageVM>

<!--frond-end top menu navigation - partial view-->
@{
    string tempPageTitle = (string)TempData["PageTitle"];   // create a variable
}

@foreach (var item in Model)
{
    if (tempPageTitle == item.Title)
    {
        <li class="active"><a href="/@item.Slug">@item.Title</a></li>
    }
    else
    {
        <li><a href="/@item.Slug">@item.Title</a></li>
    }
    

}

